{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <h1>Contacts</h1>

    <table class="table table-responsive">
    <thead class="thead-light"><tr>
        <th>Type</th>
        <th>Contact</th>
        <th>Options</th>
        </tr></thead>
    {foreach $contacts as $c}

        <tr>
            <td>{$c['name']}</td>
            <td>{$c['contact']}</td>
            <td><a href="{link deleteContact}?id={$c['id_contact']}" class="btn btn-danger">Delete</a> </td>
        </tr>
    {/foreach}
    </table>
    <h1>New contact</h1>
    <form action="{link contacts}" method="post">
        <label>Type of new contact</label>
        <select name="id_contact_type" class="form-control">
            {foreach $types as $t}
            <option value="{$t['id_contact_type']}">{$t['name']}</option>
            {/foreach}
        </select>
        <label>New contact<span style="color: red">*</span></label>
        <input type="text" name="contact" placeholder="New contact" class="form-control" required>
        
        <br>
        <input type="hidden" name="id_person" value="{$pid}">
        <input type="submit" value="New" class="btn btn-primary">
        <span style="color: red">* required</span>

    </form>
{/block}