{extends layout.latte}

{block title}Edit person{/block}

{block body}
    <div class="container">
        <h1>Edit</h1>

        <form action="{link editPerson}?id={$id}" method="post" class="form-horizontal">
            <label>Nickname</label>
            <input type="text" name="nn" {ifset $form['nn']}value="{$form['nn']}"{/ifset} class="form-control">
            <br>
            <label>First name</label>
            <input type="text" name="fn" {ifset $form['fn']}value="{$form['fn']}"{/ifset} class="form-control">
            <br>
            <label>Last name</label>
            <input type="text" name="ln" {ifset $form['ln']}value="{$form['ln']}"{/ifset} class="form-control">
            <br>
            <label>Birth day</label>
            <input type="date" name="bd" {ifset $form['bd']}value="{$form['bd']}"{/ifset} class="form-control">
            <br>
            <label>Height</label>
            <input type="number" name="h" {ifset $form['h']}value="{$form['h']}"{/ifset} class="form-control">
            <br>
            <label>gender</label>
            <select name="g" class="form-control">
                <option value="male" {if $form['g']=='male'}selected{/if}>Male
                <option value="female"{if $form['g']=='female'}selected{/if}>Female
            </select>
            <br>
            <button type="submit" class="btn btn-primary">
                Edit
            </button>
        </form>

    </div>
{/block}