{extends layout.latte}

{block title}Edit meeting{/block}

{block body}
    <div class="container">
        <h1>Edit meeting</h1>

        <form action="{link editMeeting}" method="post" class="form-horizontal">
            <label>Start<span style="color: red">*</span></label>
            <input type="datetime-local" name="start" value="{$meeting['start']}" class="form-control">
            <br>
            <label>Description<span style="color: red">*</span></label>
            <input type="text" name="description" value="{$meeting['description']}" class="form-control">
            <br>
            <label>Duration<span style="color: red">*</span></label>
            <input type="time" name="duration" value="{$meeting['duration']}" class="form-control">
            <br>
            <input type="hidden" name="id_meeting" value="{$meeting['id_meeting']}">
            <br>
            <label>Select from addresses</label>
            <select class="form-control" name="id_location">
                {foreach $locations as $s}
                    <option value="{$s['id_location']}" {if $s['id_location'] == $meeting['id_location']}selected{/if}>{$s['name']} {$s['street_name']} {$s['street_number']} {$s['zip']} {$s['city']} {$s['country']}</option>
                {/foreach}
            </select>
            <br>
            <button type="submit" class="btn btn-primary">
                Edit
            </button>
        </form>
        <span style="color: red">* required</span>

    </div>
{/block}