{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Persons</h1>

        <table class="table table-responsive">
            <thead class="thead-light"><tr><th>Nickname</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Birth day</th>
                <th>Height</th>
                <th>Gender</th>
                <th colspan="5">Options</th></tr></thead>

            {foreach $persons as $p}

            <tr>
                <td>{$p['nickname']}</td>
                <td>{$p['first_name']}</td>
                <td>{$p['last_name']}</td>
                <td>{$p['birth_day']}</td>
                <td>{$p['height']}</td>
                <td>{$p['gender']}</td>
                <td><a href="{link deletePerson}?id={$p['id_person']}" class="btn btn-danger">Delete</a></td>
                <td><a href="{link editPerson}?id={$p['id_person']}" class="btn btn-primary">Edit</a></td>
                <td><a href="{link location}?id={$p['id_location']}&pid={$p['id_person']}" class="btn btn-info">Address</a></td>
                <td><a href="{link meeting}?id={$p['id_person']}" class="btn btn-dark">Meeting</a></td>
                <td><a href="{link contacts}?id={$p['id_person']}" class="btn btn-warning">Contacts</a></td>

            </tr>
            {/foreach}
        </table>
    </div>
{/block}