<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{link index}">Persons</a>
            <a class="nav-item nav-link" href="{link meetings}">Meetings</a>
            <a class="nav-item nav-link" href="{link newPerson}">New person</a>
            <a class="nav-item nav-link" href="{link newLocation}">New address</a>
            <a class="nav-item nav-link" href="{link newMeeting}">New meeting</a>

        </div>

    </div>
</nav>
{if isset($alert)}
    <p class="alert-danger">{$alert}</p>
{/if}

{include body}
</body>
</html>