{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <h1>Address</h1>
   {ifset $location['id_location']} <table class="table table-responsive table-light">
        <tr>
            <th>Name</th>
            <td>{$location['name']}</td>
        </tr>
         <tr>
             <th>Street name</th>
             <td>{$location['street_name']}</td>
         </tr>

          <tr>
              <th>Street number</th>
              <td>{$location['street_number']}</td>
          </tr>

          <tr>
              <th>Zip</th>
              <td>{$location['zip']}</td>
          </tr>

         <tr>
             <th>City</th>
             <td>{$location['city']}</td>
         </tr>

          <tr>
              <th>Country</th>
              <td>{$location['country']}</td>
          </tr>


    </table>
       {/ifset}
    {ifset $locations}
    <form action="{link location}" method="post" class="form-horizontal">
        <select class="form-control" name="id_location">
            {foreach $locations as $s}
                <option value="{$s['id_location']}">{$s['name']} {$s['street_name']} {$s['street_number']} {$s['zip']} {$s['city']} {$s['country']}</option>
            {/foreach}
        </select>
    <input type="hidden" name="id_person" value="{$pid}">
        <input type="submit" value="Set new" class="btn btn-primary">

    </form>
        {/ifset}
{/block}