{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <h1>Meetings</h1>

    <table class="table table-responsive">
    <thead class="thead-light"><tr>
        <th>Start</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Options</th>
        </tr></thead>
    {foreach $meetings as $m}

        <tr>
            <td>{$m['start']}</td>
            <td>{$m['description']}</td>
            <td>{$m['duration']}</td>
            <td><a href="{link leaveMeeting}?id={$pid}&m={$m['id_meeting']}" class="btn btn-danger">Leave meeting</a> </td>
        </tr>
    {/foreach}
    </table>
    <form action="{link meeting}" method="post">
        <label>Add</label>
        <select name="id_meeting" class="form-control">
            {foreach $all as $a}
            <option value="{$a['id_meeting']}">{$a['start']} {$a['description']} {$a['duration']}</option>
            {/foreach}
        </select>
        <input type="hidden" name="id_person" value="{$pid}">
        <input type="submit" value="Add" class="btn btn-primary">

    </form>
{/block}