{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Meetings</h1>

        <table class="table table-responsive">
            <thead class="thead-light"><tr>
                <th>Start</th>
                <th>Description</th>
                <th>Duration</th>
                <th colspan="3">Options</th>
            {foreach $meetings as $m}

            <tr>
                <td>{$m['start']}</td>
                <td>{$m['description']}</td>
                <td>{$m['duration']}</td>
                <td><a href="{link deleteMeeting}?id={$m['id_meeting']}" class="btn btn-danger">Delete</a></td>
                <td><a href="{link editMeeting}?id={$m['id_meeting']}" class="btn btn-primary">Edit</a></td>
                <td><a href="{link location}?id={$m['id_location']}" class="btn btn-info">Address</a></td>


            </tr>
            {/foreach}
        </table>
    </div>
{/block}