{extends layout.latte}

{block title}New address{/block}

{block body}
    <div class="container">
        <h1>New address</h1>

        <form action="{link newLocation}" method="post" class="form-horizontal">
            <label>Name</label>
            <input type="text" name="name" class="form-control">
            <br>
            <label>Street name<span style="color: red">*</span></label>
            <input type="text" name="street_name" class="form-control">
            <br>
            <label>Street number<span style="color: red">*</span></label>
            <input type="number" name="street_number" class="form-control">
            <br>
            <label>Zip</label>
            <input type="number" name="zip" class="form-control">
            <br>
            <label>City<span style="color: red">*</span></label>
            <input type="text" name="city" class="form-control">
            <br>
            <label>Country<span style="color: red">*</span></label>
            <input type="text" name="country" class="form-control">
            <br>
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </form>
        <span style="color: red">* required</span>
    </div>
{/block}