{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>New meeting</h1>

        <form action="{link newMeeting}" method="post" class="form-horizontal">
            <label>Start<span style="color: red">*</span></label>
            <input type="datetime-local" name="start" class="form-control">
            <br>
            <label>Description<span style="color: red">*</span></label>
            <input type="text" name="description" class="form-control">
            <br>
            <label>Duration<span style="color: red">*</span></label>
            <input type="time" name="duration" class="form-control">
            <br>
            <label>Location</label>
            <select name="id_location" class="form-control">
                {foreach $locations as $s}
                    <option value="{$s['id_location']}">{$s['name']} {$s['street_name']} {$s['street_number']} {$s['zip']} {$s['city']} {$s['country']}</option>
                {/foreach}
            </select>
            <br>
               <input type="submit" class="btn btn-primary" value="Create">
        </form>
        <span style="color: red">* required</span>
    </div>
{/block}