{extends layout.latte}

{block title}New person{/block}

{block body}
    <div class="container">
        <h1>New person</h1>

        <form action="{link newPerson}" method="post" class="form-horizontal">
            <label>Nickname<span style="color: red">*</span></label>
            <input type="text" name="nn" class="form-control">
            <br>
            <label>First name<span style="color: red">*</span></label>
            <input type="text" name="fn" class="form-control">
            <br>
            <label>Last name<span style="color: red">*</span></label>
            <input type="text" name="ln" class="form-control">
            <br>
            <label>Birth day</label>
            <input type="date" name="bd" class="form-control">
            <br>
            <label>Height</label>
            <input type="number" name="h" class="form-control">
            <br>
            <label>Pohlavi<span style="color: red">*</span></label>
            <select name="g" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </form>
        <span style="color: red">* required</span>
    </div>
{/block}